@use '../base/var' as *;
@use '../module/mixins' as *;
@use '../base/breakpoint' as *;

.l-container {
  @include display-flex();
  // width: 100%;
  min-height: 100vh; // ocupa a tela toda

  &__body {
    @include display-flex($flex-direction: row);
    flex: 1; // ocupa o espaço entre header e footer
    background-color: $gray-light;
    // width: 100%;

    @include breakpoint($md, max-width){
      flex-direction: column; 
    }
  }

  &__content {
    flex: 1; // ocupa todo o espaço restante
    padding: 1rem;
    background-color: $white;
    overflow-y: auto;
    width: 100%;
    height: 100vh;

    @include breakpoint($md, max-width){
      padding: 0.5rem;
    }

  }

}

// @media (max-width: 768px) {
//   .l-container__body {
//     flex-direction: column;
//   }

//   .l-container__content {
//     padding: 0.5rem;
//   }
// }

