@use './mixins' as *;
@use '../base/breakpoint' as *;

.enem-options{
  @include display-flex();
  gap: 0.5rem;

  @include breakpoint($sm){
    @include max-width(600px)
  }

  &__title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
  }
}