@use '../base/breakpoint' as *;

.c-explanation {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  width: 90%;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;

  @include breakpoint($md){
    @include max-width();
  }


  &__paragraph {
    margin-bottom: 0.8rem;
    line-height: 1.46rem;
    text-align: center;
    font-size: 1.08rem;

  }

}