@use '../base/breakpoint' as *;

.p-home {

  &__searchbar {
    padding: 0.3rem 0;
  }

  &__title {
    font-size: 1.3rem;
    padding: 0.3rem 0 0.5rem;
  }

  &__list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    padding: 1rem 0;

     .m-card-content {
      max-width: 400px;
      width: 100%;
    }

    &--module {
      @include breakpoint($lg) {
        .m-card-content {

          &--module {
            min-height: 500px;
            max-width: 400px; // mantém consistência
          }

          &__image {
            &--module {
              height: 100%;
            }
          }
        }
      }
    }

  }

}