@mixin display-flex(
  $justify-content: center, 
  $align-items: center, 
  $flex-direction: column, 
  $flex-wrap: nowrap
  ) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
}

@mixin card{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 4px;
  background-color: #fff;
  transition: transform 0.3s ease;
  cursor: pointer;

  &:hover{
    transform: scale(1.02);
  }

}