@use '../base/var' as *;

.m-action-menu {
    //   position: fixed;
    background-color: $dark;
    border-radius: 0.4rem;
    border: 1px solid rgba($white, 0.12);
    z-index: 10;
    position: absolute;
    top: 3rem;
    right: 0.5rem;
    width: max-content;
    max-width: 50%;

    // posição você decide depois (top/right/left)

    &--top-right {
        top: 3.5rem;
        right: 0.5rem;
    }

    &--bottom-center {
        bottom: 4.5rem;
        left: 50%;
        transform: translateX(-50%);
    }

    &--bottom-left {
        bottom: 4.5rem;
        left: 0.5rem;
        top: unset;
        max-height: max-content;
    }

}

.m-action-menu__list {
    display: block; // importante
    max-height: 220px;
    overflow-y: auto;
    overflow-x: hidden;

    // melhora scroll mobile
    -webkit-overflow-scrolling: touch;
}

.m-action-menu__item {
    width: 100%;
    padding: 0.6rem 0.8rem;
    background: transparent;
    color: $white;
    border: none;
    border-bottom: 1px solid rgba($white, 0.08);
    text-align: left;
    font-size: 0.85rem;
    cursor: pointer;

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        background-color: rgba($white, 0.05);
    }

    &:active {
        background-color: rgba($white, 0.08);
    }

    &:disabled {
        opacity: 0.4;
        pointer-events: none;
    }
}

/*
@include breakpoint(560px, max-width) {
  .m-action-menu__list {
    max-height: 160px;
  }
}

/* ========================= 
/* POSICIONAMENTOS (TYPE)    
/* ========================= 


*/