@use '../base/var' as *;
@use './mixins' as *;
@use '../base/breakpoint' as *;

%position {
  padding: 0.5rem;
  position: absolute;
  bottom: 1.3rem;
}

.m-scene {
  position: relative;
  // height: 100dvh;
  // padding-bottom: 0.5rem;
  height: calc(100dvh - 10dvh);

  &__label {
    @extend %position;
    top: 1rem;
    left: 1rem;
    height: max-content;
    width: max-content;
    background-color: $dark;
    color: $white;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;

    &--fullscreen {
      @extend %position;
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;
      top: 1rem;
      right: 1rem;
      height: max-content;
      width: max-content;
      background-color: $dark;
      color: $white;
      border-radius: 0.4rem;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }
  }

  &__ui {
    @include display-flex();
    gap: 0.5rem;
    width: max-content;

    &--left {
      @extend %position;
      left: 0.5rem;
      background-color: $bg-ui;
      border-radius: 0.4rem;
      min-width: 130px;
      z-index: 2;

      // @include breakpoint(560px, max-width) {
      //   max-height: 157px;
      //   overflow-y: auto;
      //   padding-top: 4rem;
      // }

      &__inner {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @include breakpoint(560px, max-width) {
          max-height: 157px;
          overflow-y: auto;
        }
      }

    }

    &--right {
      right: 0.5rem;
      @extend %position;
      z-index: 2;
    }
  }
}