@use './mixins' as *;

.m-select {
  // display: flex;
  // flex-direction: column;
  @include display-flex($align-items: flex-start);
  gap: 0.5rem;
  width: 100%;

  &__label {
    font-size: 0.9rem;
    color: #333;
    font-weight: 500;
  }

  &__field {
    padding: 0.6rem 0.8rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    background-color: #fff;
    transition: border-color 0.2s;
    width: 100%;

    &:focus {
      outline: none;
      border-color: #0077ff;
    }
  }
}
