@use '../base/var' as *;
@use './mixins' as *;

.p-share {
  padding: 1rem;
  text-align: center;
  background-color: $gray-light;
  border-radius: 12px;

  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: $secondary;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 2rem;
  }

  &__buttons {
    // display: flex;
    // justify-content: center;
    @include display-flex(
    $flex-wrap: wrap
    );

    gap: 1.5rem;
    // flex-wrap: wrap;
  }

  &__button {
    // display: flex;
    // align-items: center;
    // justify-content: center;

    @include display-flex(
      $flex-direction: row
    );

    gap: 0.5rem;
    padding: 0.8rem 1.5rem;
    width: 100%;
    border-radius: 8px;
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    color: $white;
    text-decoration: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    }

    &--whatsapp {
      background-color: #25d366;
    }

    &--telegram {
      background-color: #0088cc;
    }

    &--facebook {
      background-color: #1877f2;
    }
  }
}
