@use './mixins' as *;
@use '../base/breakpoint' as *;

.p-summary-list {
  padding: 0 0.5rem;
  @include display-flex();
  // background-color: rgb(235, 202, 235);
  
  .m-card-content{
    padding: 0.5rem 0.5rem;
    &__info-title{
      font-size: 1;
      // font-weight: normal;
    }
  }

  &__title {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    width: 100%;
    // text-align: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    gap: 0.8rem;
    width: 100%;

    @include breakpoint($md){
      grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    }

    @media(min-width: 657px) and (max-width: 768px){
      grid-template-columns: repeat(auto-fill, minmax(300px, 2fr)) !important;
      // background-color: red;
    }
  }
}
