$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xl2: 1536px;

@mixin breakpoint($point, $type:min-width){
  @media(#{$type}: #{$point}){
    @content;
  }
}

@mixin max-width($max-width:600px, $margin:auto){
  max-width: $max-width;
  margin: $margin;
}