$tertiary:   #05ffa1;  // azul neon
$primary:   #01cdfe ;  // verde neon
$secondary:  #b967ff;  // roxo neon
$warning:    #fffb96;  // amarelo claro

$white: #ffffff;
$gray-light: #f2f2f2;


// Novas cores
$danger:     #ff3b3b;  // vermelho vibrante (contrasta bem com o verde)
$dark:       #0d0d0d;  // preto suave, não 100% puro, para não “pesar” demais
$background: #1e1e1e;  // cinza escuro neutro, ótimo para fundo
$bg-side: #f5f5f5;	
$text:       #333;  // cinza claro, fácil de ler em fundos escuros

$right-answer: #a2f3b3;
$wrong-answer: #ff97a0;
$info-answer: #98cdf6;